@charset "UTF-8";

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

html{
  height:100%;
}

body{
  height:100%;
}

#root{
  display:flex;
  height:100%;
  background-color:  #1e1f26;
  justify-content: center;
  align-items: center;
}